@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  background: #80d6ff;
  font-family: "Roboto", sans-serif;
}

a {
    color:#fab57a
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

main {
  padding: 30px 0;
}

.my-weather {
  max-width: 650px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 30px 30px 50px #fab57a;
  background: white;
}

.search-input {
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 30px;
  width: 75%;
  border-radius: 6px;
  background-color: #ede6e1f7;
}

.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #fab57a;
  color: white;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-weather h1 {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
  padding-bottom: 5px;
}

.current-weather p {
  font-size: 15px;
  color: grey;
  font-weight: 400;
  line-height: 1.8;
}

.current-weather strong {
  color: red;
}

.current-temperature {
  font-size: 50px;
  font-weight: bold;
}


footer {
  text-align: center;
}
