
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: white;
    font-family: "Roboto", sans-serif;
}

.weather-container {
    width: 990%;
    max-width: 600px;
    background: linear-gradient(135deg, #8dc6ff,  #e4f1fe  );
    color: #34495e;
    margin: 40px auto;
    padding: 30px;
    box-shadow: 0 30px 50px rgba(185, 164, 235, 0.08);
    border-radius: 10px;
    justify-content: center
}

header {
    border-bottom: 1px solid #c6d9f1;
    padding: 0 0 30px 0;
}

.search-form-button {
    background: #c6dcf2;
    p
}


.search-form-input {
    background-color: #8dc6ff;
    border: none;
    border-radius: 6px;
    width: 80%;
    padding: 15px 20px;
}


footer a {
    color: #fff;
}